  </body>
  <footer class="site-footer">

    <div class="container">

      <div>
          <ul class="social__icons">
            <li><a href="https://instagram.com/theoliveandmango"><i class="social__icons--footer fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.bloglovin.com/blogs/olive-mango-18415085"><i class="social__icons--footer fa fa-heart" aria-hidden="true"></i></a></li>
            <li><a href="https://www.pinterest.com/olive_mango/"><i class="social__icons--footer fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="https://facebook.com/oliveandmango"><i class="social__icons--footer fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/oliveandmango"><i class="social__icons--footer fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="mailto:info@oliveandmango.com"><i class="social__icons--footer fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
          <div class="copyright">Copyright &copy; <script type="text/javascript">
          document.write(new Date().getFullYear());</script> Olive &amp; Mango</div>
        </div>
      </div>
      <script src="app.js"></script>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-80711884-1', 'auto');
          ga('send', 'pageview');
      </script>
      <script async defer data-pin-hover="true" data-pin-tall="true" data-pin-save="true" src="//assets.pinterest.com/js/pinit.js"></script>
  </footer>
</html>
