<aside class="sidebar">
  <!-- <section>
    <input type="text" id="searchquery" placeholder="Search"><button class="search-btn" id="submitsearch"><i
        class="fa fa-search" aria-hidden="true"></i></button>
  </section> -->
  <h2>About Me</h2>
  <a href="{{ .Site.BaseURL }}about"><img class="profile_pic" src="/img/profile_pic.jpg" alt="Joanne Rappos"></a>
  <div class="sidebar_bio">
    Hi! I’m Joanne, and welcome to Olive &amp; Mango where I cook delicious and (mostly) healthy food that anyone can make. You can learn more about me <span class="highlight"><a href="{{ .Site.BaseURL }}about">here</a></span>.
  </div>
  <div class="sidebar_subscribe">
    <h2>Subscribe</h2>
    <h4>Keep up with the latest blog posts, news, giveaways and workshops</h4>
    <form name="subscribe" netlify>
      <input class="placeholder_text" type="text" name="fname" placeholder="Your Name">
      <input class="placeholder_text" type="email" name="email" placeholder="Your Email">
      <button class="btn" type="submit">Subscribe</button>
    </form>
  </div>
  <div class="sidebar_social">
    <h2>Follow Me On</h2>
    <ul class="social__icons">
      <li><a href="https://instagram.com/theoliveandmango"><i class="social__icons--footer fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.bloglovin.com/blogs/olive-mango-18415085"><i class="social__icons--footer fa fa-heart" aria-hidden="true"></i></a></li>
      <li><a href="https://www.pinterest.com/olive_mango/"><i class="social__icons--footer fa fa-pinterest" aria-hidden="true"></i></a></li>
      <li><a href="https://facebook.com/oliveandmango"><i class="social__icons--footer fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/oliveandmango"><i class="social__icons--footer fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="mailto:info@oliveandmango.com"><i class="social__icons--footer fa fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="sidebar_featured">
    {{ partial "featured-posts" . }}
  </div>
  <div class="sidebar_resources">
    <h2>Other resources</h2>
    <ul>
        <li><a href="{{ .Site.BaseURL }}categories/travel">Travel</a></li>
        <li><a href="https://www.johannheadley.com">Photography</a></li>
        <li><a href="{{ .Site.BaseURL }}workshops">Workshops</a></li>
      </ul>
  </div>
  <div class="sidebar_posts">
    {{ partial "recent-posts" . }}
  </div>
  <h2>Instagram Feed</h2>
  <div id="instafeed"></div>
</aside>

