<aside class="sidebar">
  <h2>About Me</h2>
  <img class="profile_pic" src="/img/profile_pic.jpg" alt="">
  <div class="sidebar_bio">
    Hi! I’m Joanne, and welcome to Olive &amp; Mango where I cook delicious and (mostly) healthy food that anyone can make. If you want to learn more about me, <span class="highlight"><a href="{{ .Site.BaseURL }}about">click here</a></span>.
  </div>
  <div class="sidebar_social">
    <h2>Follow Me On Social Media</h2>
    <ul class="social__icons">
      <li><a href="https://instagram.com/theoliveandmango"><i class="social__icons--footer fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.bloglovin.com/blogs/olive-mango-18415085"><i class="social__icons--footer fa fa-heart" aria-hidden="true"></i></a></li>
      <li><a href="https://www.pinterest.com/olive_mango/"><i class="social__icons--footer fa fa-pinterest" aria-hidden="true"></i></a></li>
      <li><a href="https://facebook.com/oliveandmango"><i class="social__icons--footer fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/oliveandmango"><i class="social__icons--footer fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="mailto:info@oliveandmango.com"><i class="social__icons--footer fa fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="sidebar_posts">
    {{ partial "recent-posts" . }}
  </div>
  <h2>Instagram Feed</h2>
  <div id="instafeed"></div>
</aside>
