$accent-color: #4aa3df;
$tablet-width: 600px;
$desktop-width: 800px;

@mixin main__text ($color, $font-size, $textshadow: 3px 1px 1px black) {
    color: $color;
    font-size: $font-size;
    text-shadow: $textshadow;
}


body {
    font-family: 'Raleway', sans-serif;}

h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 2em;
}

.splash {
    background: url("/img/market-pinapples.jpg") no-repeat center center;
    background-size: cover;
    h1 {
        @include main__text(white, 2em);
        @media screen and (min-width: $tablet-width) {
            @include main__text(white, 4em);
        }
    }
}

.main__text {
    text-align: center;
    padding: 75px 0;
    @media screen and (min-width: 600px) {
        padding: 150px 0;
    }
    p {
        @include main__text(white, 1.5em);
        @media screen and (min-width: $tablet-width)  {
            @include main__text(white, 2.5em);
        }
    }
}

blockquote {
    color: #CCC;
    border-left: 4px solid $accent-color;
    font-size: 1.5em;
    margin: 30px 0;
    padding-left: 30px;
}

.home {
    text-align: center;
    max-width: 80%;
    margin: auto;
    .post-list {
        margin-bottom: 60px;
    }
    h2 {
        font-family: 'Yeseva One', cursive;
    }
}

caption {
    font-size: 0.5em;
}

// .post__date {
//     border-top: solid thin;
//     max-width: 200px;
//     margin: auto;
//     padding-top: 20px;
// }



.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
        padding-bottom: 10px;
    }
}
