{{ partial "recipe-head" . }}
{{ partial "header" . }}
{{ partial "home-splash" . }}

<div class="page-content flex_container">
  <div class="recipe_content">
    <div class="recipe_container">
      <h2 class="">Recipes</h2>

      <div class="line taxonomy_line"></div>
      <h3 class="cat_heading">Mains</h3>
      <ul class="related_taxonomy">
        {{ range first 4 .Site.Taxonomies.categories.mains }}
        <li><a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.scaled_thumbnail }}"
              alt="{{.Params.Title}}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
      <span class="btn_container"><a href="{{ .Site.BaseURL }}categories/mains">
          <div class="btn__main--recipe btn">Show more</div>
        </a></span>

      <div class="line taxonomy_line"></div>
      <h3 class="cat_heading">Sides</h3>
      <ul class="related_taxonomy">
        {{ range first 4 .Site.Taxonomies.categories.sides }}
        <li><a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.scaled_thumbnail }}"
              alt="{{.Params.Title}}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
      <span class="btn_container"><a href="{{ .Site.BaseURL }}categories/sides">
          <div class="btn__main--recipe btn">Show more</div>
        </a></span>

      <div class="line taxonomy_line"></div>
      <h3 class="cat_heading">Soups</h3>
      <ul class="related_taxonomy">
        {{ range first 4 .Site.Taxonomies.categories.soups }}
        <li><a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.scaled_thumbnail }}"
              alt="{{.Params.Title}}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
      <span class="btn_container"><a href="{{ .Site.BaseURL }}categories/soups">
          <div class="btn__main--recipe btn">Show more</div>
        </a></span>

      <div class="line taxonomy_line"></div>
      <h3 class="cat_heading">Breakfast</h3>
      <ul class="related_taxonomy">
        {{ range first 4 .Site.Taxonomies.categories.breakfast }}
        <li><a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.scaled_thumbnail }}"
              alt="{{.Params.Title}}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
      <span class="btn_container"><a href="{{ .Site.BaseURL }}categories/breakfast">
          <div class="btn__main--recipe btn">Show more</div>
        </a></span>

      <div class="line taxonomy_line"></div>
      <h3 class="cat_heading">Desserts</h3>
      <ul class="related_taxonomy">
        {{ range first 4 .Site.Taxonomies.categories.desserts }}
        <li><a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.scaled_thumbnail }}"
              alt="{{.Params.Title}}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
      <span class="btn_container"><a href="{{ .Site.BaseURL }}categories/desserts">
          <div class="btn__main--recipe btn">Show more</div>
        </a></span>

      <div class="line taxonomy_line"></div>
      <h3 class="cat_heading">Appetizers</h3>
      <ul class="related_taxonomy">
        {{ range first 4 .Site.Taxonomies.categories.appetizers }}
        <li><a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.scaled_thumbnail }}"
              alt="{{.Params.Title}}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
      <span class="btn_container"><a href="{{ .Site.BaseURL }}categories/appetizers">
          <div class="btn__main--recipe btn">Show more</div>
        </a></span>

      <div class="line taxonomy_line"></div>
      <h3 class="cat_heading">Drinks</h3>
      <ul class="related_taxonomy">
        {{ range first 4 .Site.Taxonomies.categories.drinks }}
        <li><a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.scaled_thumbnail }}"
              alt="{{.Params.Title}}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
      <span class="btn_container"><a href="{{ .Site.BaseURL }}categories/drinks">
          <div class="btn__main--recipe btn">Show more</div>
        </a></span>

      <div class="line taxonomy_line"></div>
      <h3 class="cat_heading">Bread</h3>
      <ul class="related_taxonomy">
        {{ range first 4 .Site.Taxonomies.categories.bread }}
        <li><a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.scaled_thumbnail }}"
              alt="{{.Params.Title}}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
      <span class="btn_container"><a href="{{ .Site.BaseURL }}categories/bread">
          <div class="btn__main--recipe btn">Show more</div>
        </a></span>


      <div class="line taxonomy_line"></div>
      <h3 class="cat_heading">Pantry</h3>
      <ul class="related_taxonomy">
        {{ range first 4 .Site.Taxonomies.categories.pantry }}
        <li><a href="{{ .Page.RelPermalink }}"><img src="{{ .Params.scaled_thumbnail }}"
              alt="{{.Params.Title}}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
      <span class="btn_container"><a href="{{ .Site.BaseURL }}categories/pantry">
          <div class="btn__main--recipe btn">Show more</div>
        </a></span>


    </div>

  </div>
  {{ partial "sidebar" . }}
</div>
{{ partial "footer" . }}